.bd-espectaculos img {
  width: 206px!important;
  height: 192px!important;
}

.bd-ciencia img {
  width: 206px!important;
  height: 192px!important;
}
.bd-opinion img {
  width: 206px!important;
  height: 192px!important;
}
.sp-widget-post-slider-section .slick-arrow {
  background-color: #ef8a27!important;
}
#text-3 {
  border: 2px solid #ef2727!important;
}
#text-3 h3:before, .text-3 h3:before {
  background: #ef2727!important;
}
#sp_widget_post_slider-3 {
  border: 2px solid #66238d!important;
}
#sp_widget_post_slider-3 h3:before, .text-3 h3:before {
  background: #66238d!important;
}
#sp_widget_post_slider-3 .sp-widget-post-slider-section .slick-arrow
{
  background: #66238d!important;
}
#easingslider_widget-9 {
  border: 2px solid #66238d!important;
}
#easingslider_widget-9 h3:before, .text-3 h3:before{
  background: #66238d!important;
}
#easingslider_widget-9 .easingslider-buttons .easingslider-prev
{
  background: #66238d!important;
  color: #fff!important;
}
#easingslider_widget-9 .easingslider-buttons .easingslider-next
{
  background: #66238d!important;
  content: ">"!important;
  color: #fff!important;
}

#text-4 {
  border: 2px solid #ef8a27!important;
}
#email-subscribers-2 {
  border: 2px solid #ef8a27!important;
}
#sp_widget_post_slider-4 {
  border: 2px solid #3a7521!important;
}
#sp_widget_post_slider-4 h3:before, .text-3 h3:before
{
  background: #3a7521!important;
}
#sp_widget_post_slider-4 .sp-widget-post-slider-section .slick-arrow
{
  background: #3a7521!important;
}
.block-falcon:before {
    background-color: #ef8a27;
    content: '';
    height: 10px;
    width: 20%;
    position: absolute;
    left: 0;
    bottom: -8px;
}
.bd-falcon {
  border: 2px solid #ef8a27;
}
.block-sucesos:before {
    background-color: #555;
    content: '';
    height: 10px;
    width: 20%;
    position: absolute;
    left: 0;
    bottom: -8px;
}
.bd-sucesos {
  border: 2px solid #555;
}
.block-nacionales:before {
    background-color: #8d2332;
    content: '';
    height: 10px;
    width: 20%;
    position: absolute;
    left: 0;
    bottom: -8px;
}
.bd-nacionales {
  border: 2px solid #8d2332;
}
.block-deportes:before {
    background-color: #278fef;
    content: '';
    height: 10px;
    width: 20%;
    position: absolute;
    left: 0;
    bottom: -8px;
}
.bd-deportes {
  border: 2px solid #278fef;
}
.block-inter:before {
    background-color: #3a7521;
    content: '';
    height: 10px;
    width: 20%;
    position: absolute;
    left: 0;
    bottom: -8px;
}
.bd-inter {
  border: 2px solid #3a7521;
}
.block-espectaculos:before {
    background-color: #ef2769;
    content: '';
    height: 10px;
    width: 20%;
    position: absolute;
    left: 0;
    bottom: -8px;
}
.bd-espectaculos {
  border: 2px solid #ef2769;
}
.block-espectaculos:before {
    background-color: #ef2769;
    content: '';
    height: 10px;
    width: 20%;
    position: absolute;
    left: 0;
    bottom: -8px;
}
.bd-espectaculos {
  border: 2px solid #ef2769;
}
.block-ciencia:before {
    background-color: #222;
    content: '';
    height: 10px;
    width: 20%;
    position: absolute;
    left: 0;
    bottom: -8px;
}
.bd-ciencia {
  border: 2px solid #222;
}
.block-opinion:before {
    background-color: #ef8a27;
    content: '';
    height: 10px;
    width: 20%;
    position: absolute;
    left: 0;
    bottom: -8px;
}
.bd-opinion {
  border: 2px solid #ef8a27;
}
#widget_sp_image-2 {
  border: 2px solid #ef2730!important;
}
#widget_sp_image-2 h3:before, .text-3 h3:before
{
  background: #ef2730!important;
}
#sp_widget_post_slider-2 {
  border: 2px solid #e3aa2f!important;
}
#sp_widget_post_slider-2 h3:before, .text-3 h3:before
{
  background: #e3aa2f!important;
}
.footer-social li a {
  width: 2em!important;
}
.footer-social li a:hover {
  background: #de7d1e!important;
}
.slick-track {
  text-align: center!important;
}
.news-ticker-wrap {
  height: 28px!important;
  margin: 0!important;
}
.news-ticker-wrap .ticker-title {
  height: 28px!important;
  z-index: 0!important;
  line-height: 30px!important;
}
.ticker-control
{
  height:28px!important;
}
.ticker-control i{
height: 28px!important;
font-size: 14px!important;
line-height: 28px!important;
}
.card h4 {
  margin-top: 1em!important;
}
.footer-posts li a {
    text-decoration: none!important;
    color: #ddd!important;
}
.menu-menudesomos-container li a {
  text-decoration: none!important;
  color: #ddd!important;
}
/*Slider*/
.slick-slide {
  -webkit-filter:saturate(20%)!important; /* Safari 6.0 - 9.0 */
  filter: saturate(20%)!important;
}
.slider-img img {
  height: 355px!important;
  width: 100%!important;
}
.slick-current.slick-center {
  opacity: 1!important;
  filter: none!important;
  -webkit-filter: none!important;
  box-shadow: 0 1px 4px 4px rgba(0, 0, 0, .6)!important;
  z-index: 50!important;

}
.slick-active.slick-center .picture-caption-fixed {
  display: block!important;
  background: rgba(0, 0, 0, .8)!important;
}

/*slider arrows*/
.slider-nav {
  position: relative!important;
}
.prev-btn {
  position: absolute!important;
  left: 0!important;
  width: 25%!important;
  background-color: transparent!important;
  z-index:10!important;
}
.next-btn {
  position: absolute!important;
  right: 0!important;
  width: 25%!important;
  background-color: transparent!important;
  z-index:10!important;
}
figure.effect-marley h3 {
  top: 18%!important;
  font-size: 0.7em!important;
}
.mainmenu li a {
  padding: 18px 0.8em!important;
  border-right: none!important;
}
.mainmenu li ul li a:hover {
  background-color: #de7d1e!important;
}
.side-tab .tab-menu li {
  width: 50%!important;
}
.side-tab .tab-menu li a {
  padding: 0!important;
}
.sm-ads-item .sm-ads-content h4, .list-post-items .list-post-content h4 {
  height: 32px!important;
}
#wpadminbar {
  z-index: 0!important;
}
