.separacion {
  margin-bottom: 2em!important;
}
.separacion-top {
  margin-top: 2em!important;
}
.sp-widget-post-slider-section .slick-arrow {
  background-color: #ef8a27!important;
}
#text-3 {
  border: 2px solid #1da1f2!important;
}
#text-3 h3:before, .text-3 h3:before {
  background: #1da1f2!important;
}
#sp_widget_post_slider-3 {
  border: 2px solid #e3aa2f!important;
}
#sp_widget_post_slider-3 h3:before, .text-3 h3:before {
  background: #e3aa2f!important;
}
#sp_widget_post_slider-3 .sp-widget-post-slider-section .slick-arrow
{
  background: #e3aa2f!important;
}
#easingslider_widget-9 {
  border: 2px solid #66238d!important;
}
#easingslider_widget-9 h3:before, .text-3 h3:before{
  background: #66238d!important;
}
#easingslider_widget-9 .easingslider-buttons .easingslider-prev
{
  background: #66238d!important;
  color: #fff!important;
}
#easingslider_widget-9 .easingslider-buttons .easingslider-next
{
  background: #66238d!important;
  content: ">"!important;
  color: #fff!important;
}

#text-4 {
  border: 2px solid #ef8a27!important;
}
#email-subscribers-2 {
  border: 2px solid #ef8a27!important;
}
#sp_widget_post_slider-4 {
  border: 2px solid #3a7521!important;
}
#sp_widget_post_slider-4 h3:before, .text-3 h3:before
{
  background: #3a7521!important;
}
#sp_widget_post_slider-4 .sp-widget-post-slider-section .slick-arrow
{
  background: #3a7521!important;
}
.block-falcon:before {
  background-color: #ef8a27;
  content: '';
  height: 10px;
  width: 20%;
  position: absolute;
  left: 0;
  bottom: -8px;
}
.bd-falcon {
  border: 2px solid #ef8a27;
}
.block-sucesos:before {
  background-color: #555;
  content: '';
  height: 10px;
  width: 20%;
  position: absolute;
  left: 0;
  bottom: -8px;
}
.bd-sucesos {
  border: 2px solid #555;
}
.block-nacionales:before {
  background-color: #8d2332;
  content: '';
  height: 10px;
  width: 20%;
  position: absolute;
  left: 0;
  bottom: -8px;
}
.bd-nacionales {
  border: 2px solid #8d2332;
}
.block-deportes:before {
  background-color: #278fef;
  content: '';
  height: 10px;
  width: 20%;
  position: absolute;
  left: 0;
  bottom: -8px;
}
.bd-deportes {
  border: 2px solid #278fef;
}
.block-inter:before {
  background-color: #3a7521;
  content: '';
  height: 10px;
  width: 20%;
  position: absolute;
  left: 0;
  bottom: -8px;
}
.bd-inter {
  border: 2px solid #3a7521;
}
.block-espectaculos:before {
  background-color: #ef2769;
  content: '';
  height: 10px;
  width: 50%;
  position: absolute;
  left: 0;
  bottom: -8px;
}
.bd-espectaculos {
  border: 2px solid #ef2769;
  width: 50%!important;
}
.block-ciencia:before {
  background-color: #222;
  content: '';
  height: 10px;
  width: 20%;
  position: absolute;
  left: 0;
  bottom: -8px;
}
.bd-ciencia {
  border: 2px solid #222;
  width: 50%!important;
}
.esp {
  display: flex!important;
}
.esp-s {
  display: flex;
}
.esp .bd-ciencia {
  margin-left: 1em!important;
}
.esp .bd-espectaculos {
  margin-right: 1em!important;
}
.block-opinion:before {
  background-color: #ef8a27;
  content: '';
  height: 10px;
  width: 20%;
  position: absolute;
  left: 0;
  bottom: -8px;
}
.bd-opinion {
  border: 2px solid #ef8a27;
}
/*opinion*/
.section-opinion
{
  display: flex!important;
  padding: 1em!important;
}
.section-opinion-post {
  align-content: space-between!important;
  margin: 1em!important;
  text-align: justify!important;
}
.prev-btn-opinion {
  position: absolute!important;
  top: 50%!important;
  left: 30%!important;
  z-index:10!important;
  cursor: pointer!important;
  color: #666!important;
}
.next-btn-opinion {
  position: absolute!important;
  top: 50%!important;
  right: 30%!important;
  z-index:10!important;
  cursor: pointer!important;
  color: #666!important;
}
.bd-opinion {
  position: relative!important;
}
.bd-opinion:hover .btn-opinion-next, .bd-opinion:hover .btn-opinion-prev{
  display: block!important;
}
/*internacionales*/
.section-inter
{
  display: flex!important;
  padding: 1em!important;
}
.section-inter-post {
  align-content: space-between!important;
  margin: 1em!important;
}
.section-inter-post-content {
  text-align: justify!important;
}
.prev-btn-inter {
  position: absolute!important;
  top: 50%!important;
  left: 30%!important;
  z-index:10!important;
  cursor: pointer!important;
  color: #666!important;
}
.next-btn-inter {
  position: absolute!important;
  top: 50%!important;
  right: 30%!important;
  z-index:10!important;
  cursor: pointer!important;
  color: #666!important;
}
.bd-inter {
  position: relative!important;
}
.bd-inter:hover .btn-inter-next, .bd-inter:hover .btn-inter-prev{
  display: block!important;
}
/*SIDEBAR*/
#widget_sp_image-2 {
  border: 2px solid #ef2730!important;
}
#widget_sp_image-2 h3:before, .text-3 h3:before
{
  background: #ef2730!important;
}
#sp_widget_post_slider-2 {
  border: 2px solid #66238d!important
}
#sp_widget_post_slider-2 h3:before, .text-3 h3:before
{
  background: #66238d!important;
}
#sp_widget_post_slider-2 .sp-widget-post-slider-section .slick-arrow
{
  background: #66238d!important;
}
.footer-social li a {
  width: 2em!important;
  background: none!important;
  margin-right: 1em!important;
  color: #000!important;
}
.footer-social .fa-facebook:hover {
  color: #3b5998!important;
}
.footer-social .fa-twitter:hover {
  color: #55acee!important;
}
.footer-social .fa-instagram:hover {
  color:  #cd486b!important;
}
.slick-track {
  text-align: center!important;
}
/*seccion lo ultimo */
.news-ticker{
  margin: 0!important;
}
.news-ticker-wrap {
  height: 28px!important;
  margin: 0!important;
}
.news-ticker-wrap .ticker-title {
  height: 28px!important;
  z-index: 0!important;
  line-height: 30px!important;
}
.ticker-control
{
  height:28px!important;
}
.ticker-control i{
  height: 28px!important;
  font-size: 14px!important;
  line-height: 28px!important;
}
.card h4 {
  margin-top: 1em!important;
}
.footer-posts li a {
  text-decoration: none!important;
  color: #ddd!important;
}
#text-6 p {
  color: #fff!important;
}
.menu-menudesomos-container li a {
  text-decoration: none!important;
  color: #ddd!important;
}
/*Slider*/
.slider-nav .slick-slide {
  -webkit-filter:saturate(20%)!important; /* Safari 6.0 - 9.0 */
  filter: saturate(20%)!important;

}
.slider-img {
  height: 500px!important;
  background-size: cover!important;
  background-position: center!important;
}
.slick-current.slick-center {
  opacity: 1!important;
  filter: none!important;
  -webkit-filter: none!important;
  box-shadow: 0 1px 4px 4px rgba(0, 0, 0, .6)!important;
  z-index: 50!important;

}
.slick-active.slick-center .picture-caption-fixed {
  display: block!important;
  background: rgba(0, 0, 0, .8)!important;
}

/*slider arrows*/
.slider-nav {
  position: relative!important;
}
.prev-btn {
  position: absolute!important;
  left: 0!important;
  width: 15%!important;
  background-color: transparent!important;
  z-index:10!important;
}
.next-btn {
  position: absolute!important;
  right: 0!important;
  width: 15%!important;
  background-color: transparent!important;
  z-index:10!important;
}
.btn-opinion-prev {
  display: none!important;
  position: absolute!important;
  left: 0!important;
  width: 5%!important;
  background-color: transparent!important;
  z-index:10!important;
}
.btn-opinion-next {
  display: none!important;
  position: absolute!important;
  right: 0!important;
  width: 5%!important;
  background-color: transparent!important;
  z-index:10!important;
}
.btn-inter-prev {
  display: none!important;
  position: absolute!important;
  left: 0!important;
  width: 5%!important;
  background-color: transparent!important;
  z-index:10!important;
}
.btn-inter-next {
  display: none!important;
  position: absolute!important;
  right: 0!important;
  width: 5%!important;
  background-color: transparent!important;
  z-index:10!important;
}
/*MENU PRINCIPAL*/
.menu-items {
  display: flex!important;
}
.menu-complete {
  display: flex!important;
  justify-content: space-between!important;
}
.mainmenu li a {
  padding: 18px 0.8em!important;
  border-right: none!important;
}
.mainmenu li ul li a:hover {
  background-color: #de7d1e!important;
}
.side-tab .tab-menu li {
  width: 50%!important;
}
.side-tab .tab-menu li a {
  padding: 0!important;
}
.sm-ads-item .sm-ads-content h4, .list-post-items .list-post-content h4 {
  height: 32px!important;
}
#wpadminbar {
  z-index: 0!important;
}
/*header*/
.mid-header {
  background-size: cover!important;
  background-position:top!important;
}
/*formatiando imagenes*/
.img-post-espectaculos {
  background-size: cover!important;
  background-position: center!important;
  height: 200px!important;
}
.img-post-ciencia {
  background-size: cover!important;
  background-position: center!important;
  height: 200px!important;
}

.img-post-opinion {
  background-size:cover!important;
  background-position: center!important;
  height: 200px!important;

}
.section-falcon-one figure img {
  width: 100%!important;
  height: 100%!important;
  object-fit: cover!important;
}
.img-post-inter {
  background-size:cover!important;
  background-position: center!important;
  height: 200px!important;

}
.img-post-falcon-two figure img {
  width: 100%!important;
  height: 100%!important;
  object-fit: cover!important;
}
.section-sucesos-one figure img {
  width: 100%!important;
  height: 100%!important;
  object-fit: cover!important;
}
.section-nacionales-one figure img {
  width: 100%!important;
  height: 100%!important;
  object-fit: cover!important;
}
.section-deportes-one figure img {
  width: 100%!important;
  height: 100%!important;
  object-fit: cover!important;
}
.img-post-deportes {
  background-size:cover!important;
  background-position: center!important;
  height: 100%!important;
}
footer {
  padding-top: 2em!important;
}

footer .footer-wd-20 {
  width: 25%!important;
}
footer .footer-wd-20 h3 {
  font-size: 2em!important;
}
footer .footer-wd-20 a:hover {
  color: #ef8a27!important;
}
footer .footer-face {
  margin-right: 8%!important;
}
#text-6 p {
  text-align: left!important;
}
footer .footer-items {
  display: flex!important;
  justify-content: space-between!important;
}

footer .single-sidebar h3:before, .single-widget h3:before {
  background-color: #ef8a27!important;
  display: block!important;
  content: ''!important;
  width: 150px!important;
  height: 10px!important;
  position: absolute!important;
  left: 0!important;
  bottom: 0!important;
}

.logos_footer {
  display: flex!important;
  justify-content: center!important;
  margin-top: 1em!important;
  margin-bottom: 1em!important;
}
.logos_footer img {
  width: 25%!important;
  height: 10%!important;
}
.derechos
{
  display: flex!important;
  justify-content: center!important;
  padding-top: 2em!important;
  padding-bottom: 2em!important;
}

/**mejorando secciones del home**/
/**FALCON**/
/**.section-falcon
{
display: flex!important;
align-content: space-between!important;
}**/
.home {
  display: flex!important;
  align-content: space-between!important;
}
.section {
  width: 70%!important;
  padding-right: 1em!important;
}

.section-falcon {
  display: flex!important;
}
.section-falcon-one {
  width: 50%!important;
  height: 300px!important;
}
.section-falcon-one figure {
  width: 100%!important;
  height: 100%!important;
  padding: 2%!important;
}
.section-falcon-two {
  width: 50%!important;
  height: 300px!important;
}

.section-falcon-two figure {
  width: 100%!important;
  height: 50%!important;
  padding: 2%!important;
}
.section-sucesos {
  display: flex!important;
}
.section-sucesos-one {
  width: 50%!important;
  height: 300px!important;
  padding: 2.5%!important;
  margin-bottom: 2em!important;
  margin-left: 1em!important;
}
.section-sucesos-two {
  width: 50%!important;
  height: 300px!important;
  padding: 2.5%!important;
  margin-right: 1em!important;
}
.section-nacionales {
  display: flex!important;
}
.section-nacionales-one {
  width: 50%!important;
  height: 300px!important;
  padding: 2.5%!important;
  margin-bottom: 2em!important;
  margin-left: 1em!important;
}
.section-nacionales-two {
  width: 50%!important;
  height: 300px!important;
  padding: 2.5%!important;
  margin-right: 1em!important;
}
/*Deportes*/
.section-deportes {
  display: flex!important;
}
.section-deportes-one {
  width: 50%!important;
  height: 300px!important;
  padding: 2.5%!important;
  margin-bottom: 2em!important;
  margin-left: 1em!important;
}
.section-deportes-two {
  width: 50%!important;
  height: 300px!important;
  padding: 2.5%!important;
  margin-right: 1em!important;
}
.sidebar-widgets {
  width: 30%!important;
  padding-left: 1em!important;
}
.minibanners {
  display: flex!important;
}
.minibanner {
  width: 50%!important;
  padding-right: 1em!important;
}
.minibanner2 {
  width: 50%!important;
  padding-left:1em!important;
}
.sm-post-item {
  margin-bottom: 2em!important;
}





/**Entrada de los post**/
.container-post{
  display: flex!important;
}
.post {
  width: 70%!important;
}
.publicity-post {
  width: 30%!important;
}
.img-post {
  background-size: cover!important;
  background-position: center!important;
  height: 300px!important;
  width: 100%!important;
  position: relative!important;
  align-items: center!important;
}
.main-content {
  padding: 2em!important;
  border: 2px solid #eee!important;
}
.title-post {
  background: #fff!important;
}
.title-post h1{
  background: #fff!important;
  position: absolute!important;
  bottom: -10%!important;
  left: 5%!important;
  font-size: 2em!important;
  margin: 0!important;
  width: 50%!important;
  text-transform: uppercase!important;
}
.post-categories {
  display: flex!important;
  margin-bottom: 1em!important;
}
.post-categories li {
  padding: 8px 15px!important;
  margin-right: 1em!important;
}
.post-categories li a {
  text-transform: uppercase;
}
.post-categories li:first-child {
  background: #ef8a27!important;
}
.post-categories li:first-child a {
  color: #fff!important;
}
.post-categories li:hover {
  background: #ef8a27!important;
}

.post-categories li a:hover {
  color: #fff!important;
}
.atributes-post {
  display: flex!important;
}
.atributes-post p {
  margin-right: 1em!important
}

/*Social Share*/

.dc-link:hover,.dc-link:active {
    color: white;
}

.dc-twitter {
    background: #00aced;
}

.dc-twitter:hover,.dc-twitter:active {
    background: #0084b4;
}

.dc-facebook {
    background: #3B5997;
}

.dc-facebook:hover,.dc-facebook:active {
    background: #2d4372;
}

.dc-googleplus {
    background: #D64937;
}

.dc-googleplus:hover,.dc-googleplus:active {
    background: #b53525;
}


.dc-whatsapp {
    background: #43d854;
}

.dc-whatsapp:hover,.dc-whatsapp:active {
    background: #009688;
}

.dc-linkedin {
    background: #0074A1;
}

.dc-linkedin:hover,.dc-linkedin:active {
    background: #006288;
}

.dc-social {
	font-family: Helvetica;
	font-size:1.6rem;
    margin-bottom: 20px;
    text-align: center;
}

.dc-social .dc-link {
	color: white!important;
	font-size: 1.4rem;
	padding: 10px 15px;
	border-radius: 2px;
	margin-right: 2px;
	margin-top: 2px;
	cursor: pointer;
	display: inline-block;
}

.dc-social i{
	font-size: 1.6rem;
}

.dc-social p{
	margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
    .dc-whatsapp {
		display: none!important;
    }
}
/*Post relacionados*/
.post-relations {
  display: flex!important;
  flex-wrap: wrap!important;
  align-items: center!important;
}
.post-relationship {
  width: 40%!important;
  margin-right:1em!important;
  margin-bottom: 1em!important;
  border: 2px solid #e2e2e2!important;
}
.post-relationship img {
  width: 100%!important;
  height: 300px!important;
}
.post-relationship .titlelast {
  font-size: 1em!important;
  margin-top: 1em!important;
  height: 20%!important;
}
.author-info {
  display: flex!important;
  height: 200px!important;
}
.thumbnail-author {
  width: 30%!important;
}
.thumbnail-author img {
  width: 80%!important;
  padding: 0.5em!important;
  border: 1px solid #e6e6e6!important;
  height: 100%!important;
}
.description-author {
  width: 70%!important;
  padding: 0.5em!important;
  height: 100%!important;
}
.author-social {
  width: 80%!important;
  margin-bottom: 1em!important;
}
.dc-social {
  text-align: justify!important;
}
.face:hover {
  color: #3b5998!important;
}
.twitter:hover {
  color: #55acee!important;
}
.linkedin:hover {
  color: #007bb5!important;
}
/*Logo*/
#logo
{
  width: 35%!important;
}

/*Vista de categorias*/
.category {
  display: flex!important;
}
.category-one {
  width: 70%!important;
}
.category-two {
  width: 30%!important;
}
.category-two #sidebar {
  width: 100%!important;
}
.category-one #carrusel .slider-img {
  height: 300px!important;
}
.category-section-two {
  display: flex!important;
}
.category-section-one .relationship img {
  height: 300px!important;
}
.category-section-one .relationship {
  width: 30%!important;
    margin-right: 1em!important;
    margin-bottom: 1em!important;
    border: 2px solid #e2e2e2!important;
}
