


    #ticker_container{margin-top:6px;}
    #newscontent {margin-right: 10px; float: left;}
    #newscontent a {color: #585858;}
    #news {display: none;}
    #controls { float: right; height: 16px;}
    #news {display: none;}
    .news_tricker{width:50%;}